<html>
    <head>
        <title>iReception</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="lib/bower_components/bootstrap/dist/css/bootstrap.css">

        <script type="text/javascript" src="lib/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="app/app.module.js"></script>
        <script type="text/javascript" src="app/table-list/table-list.module.js"></script>
        <script type="text/javascript" src="app/table-list/table-list.component.js"></script>
        <script type="text/javascript" src="app/table-room/table-room.module.js"></script>
        <script type="text/javascript" src="app/table-room/table-room.component.js"></script>

        <script type="text/javascript" src="lib/bower_components/momentjs/moment.js"></script>
        <link href="stylesheets/styleRoom.css" rel="stylesheet">
        <style>
            body {
                font-family: Calibri, sans-serif;
            }
        </style>
    </head>

    <body ng-app="myApp">

        

        <div class="container-fluid">
            <table-r></table-r>
        </div>

    </body>
</html>